<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="example.ExecutionListener"></listener>
	<listener class-name="example.ReportListener" />
	<listener class-name="example.SauceOnDemandTestListener"/>
</listeners>
  <test name="NewFV - ExistingUV Redemption Flow" preserve-order="true">
    <classes>
      <class name="example.NewTest">
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
